{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Add New Password</h1>
<form action="{{ url_for('add_password') }}" method="post">
    <label for="site">Site:</label>
    <input type="text" id="site" name="site" required><br>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>
    <button type="submit">Add Password</button>
</form>
{% endblock %}